:root {
  --red: #f64a4a;
  --orange: #fb7c58;
  --yellow: #f8cd65;
  --green: #a4ffaf;
  --white: #e6e5ea;
  --grey: #817d92;
  --grey-drk: #24232c;
  --black: #18171f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "JetBrains Mono", monospace;
  background: var(--black);
  display: flex;
  align-items: center;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  text-align: center;
  color: var(--grey);
}

h2 {
  font-size: 2.4rem;
  color: var(--white);
  opacity: 25%;
  overflow-x: scroll;
}

h3 {
  font-size: 2.4rem;
  color: var(--green);
}

p {
  font-size: 1.6rem;
}

label {
  cursor: pointer;
}

/* OUTPUT SECTION */
.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background-color: var(--grey-drk);
}

.output-text {
  width: 65%;
}

.copy-cont {
  position: relative;
}

.copy-cont p {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  transform: translate(-120%, 20%);
  font-weight: 700;
  color: var(--green);
}

.copy-text.active {
  display: block;
}

.copy-icon:hover path,
.copy-icon:hover {
  cursor: pointer;
  fill: var(--white);
}

/* FORM SECTION */
.form {
  background-color: var(--grey-drk);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form p {
  font-weight: 700;
  color: var(--white);
}

.length-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-cont {
  width: 100%;
  height: 8px;
  margin-bottom: 2em;
}

.slider {
  appearance: none;
  width: 100%;
  background-color: var(--black);
  height: 8px;
}

.slider::-moz-range-thumb {
  width: 22px;
  height: 22px;
  appearance: none;
  background: var(--white);
  border-radius: 50%;
  border-color: var(--white);
  border-width: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.slider::-webkit-slider-thumb {
  width: 22px;
  height: 22px;
  appearance: none;
  background: var(--white);
  border-radius: 50%;
  border: 2px solid var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.slider::-moz-range-thumb:hover,
.slider::-moz-range-thumb:active {
  background: var(--black);
  border-color: var(--green);
}
.slider::-webkit-slider-thumb:hover,
.slider::-webkit-slider-thumb:active {
  background: var(--black);
  border-color: var(--green);
}

/* CHECKBOX SECTION */
.checkbox-cont {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 1.2em;
}

.checkbox {
  display: flex;
  gap: 1.5em;
}

.checkbox label {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--white);
}

.inputBox {
  appearance: none;
  background-color: var(--grey-drk);
  border: 2px solid var(--white);
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.3s;
}

.inputBox:hover {
  border: 2px solid var(--green);
  cursor: pointer;
}

.inputBox:checked {
  background-color: var(--green);
  border: 2px solid var(--green);
}

.inputBox:checked::after {
  content: url("./assets/images/icon-check.svg");
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(10%, 15%);
}

/* STRENGTH INDICATOR SECTION */
.strength-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  padding: 1.5em;
}

.strength-cont .strength-title {
  color: var(--grey);
}
.strength-desc {
  font-size: 1.8rem;
}

.strength-bar-cont {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.strength-bars {
  display: flex;
  gap: 0.6em;
}

.strength-bar {
  border: 2px solid vaR(--white);
  width: 10px;
  height: 28px;
}

#bar1,
#bar2,
#bar3,
#bar4 {
  transition: 0.3s;
}

#bar1.count1 {
  background-color: var(--red);
  border: 2px solid var(--red);
}
#bar1.count2 {
  background-color: var(--orange);
  border: 2px solid var(--orange);
}
#bar1.count3 {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
}
#bar1.count4 {
  background-color: var(--green);
  border: 2px solid var(--green);
}

#bar2.count2 {
  background-color: var(--orange);
  border: 2px solid var(--orange);
}
#bar2.count3 {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
}
#bar2.count4 {
  background-color: var(--green);
  border: 2px solid var(--green);
}

#bar3.count3 {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
}
#bar3.count4 {
  background-color: var(--green);
  border: 2px solid var(--green);
}

#bar4.count4 {
  background-color: var(--green);
  border: 2px solid var(--green);
}

/* BUTTON SECTION */
.generate-btn {
  background-color: var(--green);
  border: 2px solid var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 1.2em;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: 0.3s;
}

.generate-btn:hover {
  background-color: var(--grey-drk);
}

.generate-btn:hover p {
  color: var(--green);
}

.generate-btn:hover svg path {
  fill: var(--green);
}

.generate-btn p {
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "JetBrains Mono", monospace;
  color: var(--black);
}

/* MEDIA SECTION */
@media (min-width: 48em) {
  html {
    font-size: 72%;
  }

  h2 {
    overflow-x: hidden;
  }
  body {
    background: linear-gradient(180deg, #15141b 0%, #0a0a0e 100%);
  }

  h1 {
    font-size: 2.2rem;
  }
  .container {
    width: 65%;
    max-width: 47rem;
  }

  .output {
    padding: 2em;
  }

  .copy-cont p {
    transform: translate(-120%, 5%);
  }
  .output-text {
    width: 80%;
  }

  .form {
    padding: 2em 3em;
  }
}

@media (min-width: 75em) {
  h2 {
    overflow-x: visible;
  }

  h3,
  h2 {
    font-size: 2.8rem;
  }

  .strength-cont {
    padding: 2em 2.5em;
  }

  .generate-btn {
    padding: 1.5em 1em;
  }

  .strength-desc {
    font-size: 2rem;
  }
}
